@import url(https://fonts.googleapis.com/css?family=Noto+Sans+Arabic:100,200,300,regular,500,600,700,800,900);

//importing utils
@import "./mixins/";
@import "./variables/";
@import "./media/";


//importing components
@import "./components/hero";
@import "./components/section2";
@import "./components/section3";
@import "./components/section4";
@import "./components/section5";
@import "./components/section6";
@import "./components/section7";
@import "./components/footer";

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    padding: 0px;
    margin: 0px;

    line-height: 145%;

    a {
        text-decoration: none;
    }

    ul {
        list-style: none;
    }
}

html {
    scroll-behavior: smooth;

    @include tablet-and-smaller {
        font-size: 14px;
    }

    @include phone-only {
        font-size: 11px;
    }
}

body {
    font-family: 'Noto Sans Arabic', sans-serif;
    color: $body-text-color;
    font-weight: 400;

}

.center {
    @include center;
}

.container {
    width: 80%;

    @include tablet-and-smaller {
        width: 95%;
    }
}

.container-fluid {
    width: 95%;

    @include width-1300 {
        width: 90%;
    }

}