$purple: #343466;
$blue: #53C9EE;
$white: #ffff;

$body-text-color: #002C42;

// reduced all font sizes by 16px than one in figma file
$font-64: 4rem;
$font-40: 2.5rem;
$font-18: 1.125rem;
$font-24: 1.5rem;
$font-34: 2.125rem;
$font-32: 2rem;



$weight-700: 700;
$weight-500: 500;
$weight-600: 600;